<template>
  <div class="divPreview">
    <div class="divFilters">
      <div class="divAmountFilter">
        <div class="divLabel CP" @click="amountFilterToggle=!amountFilterToggle">Amount Filter</div>
        <div class="divAmountOptions" :class="amountFilterToggle?'showOptions':''">
          <div
            class="divAmountOption"
            v-for="item in amountFilters"
            :key="item.key"
            @click="activeAmountFilter=item.key;amountFilterToggle=!amountFilterToggle"
          >{{item.value}}</div>
        </div>
      </div>
      <div class="divSearch">
        <input type="text" placeholder="Search" v-model="searchTxt" class="inpSearch">
      </div>
    </div>
    <div class="divDataTable">
      <div class="divHeaderRow divRow">
        <div
          class="divColumn"
          v-for="item in columns"
          :key="item.value"
          :style="{width:98/(columns.length+1)+'%'}"
        >
          {{item.name}}
          <div class="sort">
            <div
              class="upArrow sortArrow"
              :class="item.value==sortBy&&sortType=='ascending'?'upArrowActive':''"
              @click="sortClick(item.value,'ascending')"
            ></div>
            <div
              class="downArrow sortArrow"
              :class="item.value==sortBy&&sortType=='descending'?'downArrowActive':''"
              @click="sortClick(item.value,'descending')"
            ></div>
          </div>
        </div>
        <div class="divColumn divActions">Actions</div>
      </div>
      <div
        class="divRow"
        v-for="row in sortedData"
        :key="row.id"
        :class="editingRows.indexOf(row.id)>-1?'editableRow':''"
      >
        <div
          class="divColumn"
          v-for="(item,key) in row"
          :key="item"
          :style="{width:98/(columns.length+1)+'%'}"
          v-if="(key!='description'||editingRows.indexOf(row.id)<0)&&key!='key'"
        >{{item}}</div>
        <div
          class="divColumn"
          :style="{width:99/(columns.length+1)+'%'}"
          v-if="editingRows.indexOf(row.id)>-1"
        >
          <textarea v-model="row['description']"/>
        </div>
        <div class="divColumn">
          <div
            class="actionBtn"
            @click="editingRows.push(row.id)"
            v-if="editingRows.indexOf(row.id)<0"
          >Edit</div>
          <div
            class="actionBtn"
            v-if="editingRows.indexOf(row.id)>-1"
            @click="updateRow(row.id,row['description'],row.key)"
          >Save</div>
          <div class="actionBtn" @click="deleteRow(row.id,row.key)">Delete</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import database from "../firebaseApp";
const notesRef = database.ref("rows");

export default {
  name: "Preview",
  props: ["columns"],
  computed: {
    sortedData() {
      let data = JSON.parse(JSON.stringify(this.data));
      if (this.sortBy != null) {
        data = data.sort((a, b) => {
          if (typeof a[this.sortBy] == "number")
            return a[this.sortBy] - b[this.sortBy];
          else {
            if (a[this.sortBy].toLowerCase() < b[this.sortBy].toLowerCase())
              return -1;
            if (a[this.sortBy].toLowerCase() > b[this.sortBy].toLowerCase())
              return 1;
            return 0;
          }
        });
      }
      if (this.sortType == "descending") {
        data = data.reverse();
      }
      if (this.searchTxt != "") {
        data = data.filter(e => {
          let exists = false;
          //   console.log(this.columns);
          for (let i = 0; i < this.columns.length; i++) {
            if (
              e[this.columns[i].value].toString().indexOf(this.searchTxt) > -1
            ) {
              return true;
            }
          }
          return exists;
        });
      }
      data = data.filter(e => {
        return (
          this.activeAmountFilter == 1 ||
          (this.activeAmountFilter == 2 && e.amount <= 0) ||
          (this.activeAmountFilter == 3 && e.amount > 0)
        );
      });
      return data;
    },
    data() {
      return this.$store.state.data;
    }
  },
  data() {
    return {
      sortBy: null,
      sortType: "ascending",
      searchTxt: "",
      minAmount: 0,
      maxAmount: 0,
      amountFilterToggle: false,
      amountFilters: [
        { key: 1, value: "All" },
        { key: 2, value: "Less than 0" },
        { key: 3, value: "Greater than 0" }
      ],
      activeAmountFilter: 1,
      editingRows: []
    };
  },
  methods: {
    sortClick(name, type) {
      this.sortBy = name;
      this.sortType = type;
    },
    updateRow(id, desc, key) {
      this.editingRows.splice(this.editingRows.indexOf(id), 1);
      //   let idxs = this.data.map(e => {
      //     return e.id;
      //   });
      //   let idx = idxs.indexOf(id);
      //   notesRef.child(key).update({
      //     Description: desc
      //   });
      this.$store.dispatch("updateRow", {
        key: key,
        data: { Description: desc },
        fullData: this.data
      });
    },
    deleteRow(id, key) {
      let idxs = this.data.map(e => {
        return e.id;
      });
      let idx = idxs.indexOf(id);
      this.data.splice(idx, 1);
      this.$store.dispatch("deleteRow", {
        key,
        data: this.data
      });
    }
  },
  created() {
    document.addEventListener("click", ev => {
      if (ev.target.closest(".divAmountFilter") == null) {
        this.amountFilterToggle = false;
      }
    });
  }
};
</script>

<style lang="scss" scoped>
.divDataTable {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}
.divHeaderRow {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
}
.divRow {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* display: inline-block; */
  width: 99%;
}
.divColumn {
  display: inline-block;
  min-width: 150px;
  width: 180px;
  vertical-align: middle;
  font-size: 13px;
  padding-right: 10px;
  //   width: 19%;
  position: relative;
}
.sort {
  position: absolute;
  height: 30px;
  width: 15px;
  right: 50px;
  top: 13px;
}
.sortArrow {
  height: 12px;
  width: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.upArrow {
  background-image: url("../assets/up.svg");
}
.downArrow {
  background-image: url("../assets/down.svg");
}
.upArrowActive {
  background-image: url("../assets/up_active.svg");
}
.downArrowActive {
  background-image: url("../assets/down_active.svg");
}
.divFilters {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px;
}
.divSearch {
  display: inline-block;
  position: relative;
  border: 1px solid #bdc3c7;
  box-sizing: border-box;
  vertical-align: middle;
}

.divSearch::after {
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  background-size: contain;
  position: absolute;
  content: "";
  right: 6px;
  top: 6px;
}

.inpSearch {
  height: 25px;
  width: 200px;
  padding-left: 5px;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

.divAmountFilter {
  display: inline-block;
  /* height: 30px; */
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  height: 30px;
}

.divLabel {
  cursor: pointer;
  background: lightgrey;
  padding: 0px 10px;
  box-shadow: inset 0px 0px 4px -1px grey;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}

.divAmountOptions {
  height: 0;
  position: absolute;
  top: 30px;
  transition: all 0.5s ease;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.showOptions {
  height: 81px;
  background: lightgray;
  /* padding-left: 5px; */
  box-sizing: border-box;
  z-index: 100;
}

.divAmountOption {
  padding: 3px 5px;
  border-bottom: 1px solid grey;
  font-size: 13px;
  cursor: pointer;
}

.actionBtn {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  width: 60px;
  text-align: center;
  background: lightgrey;
  border-radius: 2px;
}

.editableRow {
  background-color: rgba(211, 211, 211, 0.4);
}

textarea {
  width: 95%;
  font-family: "Poppins", sans-serif;
  resize: none;
}
</style>
