<template>
  <div id="app">
    <Preview :columns="columns"/>
  </div>
</template>

<script>
import Preview from "./components/Preview.vue";
import database from "./firebaseApp";

const notesRef = database.ref("rows");

export default {
  name: "app",
  components: { Preview },
  data() {
    return {
      columns: [
        {
          name: "ID",
          value: "id"
        },
        {
          name: "Name",
          value: "name"
        },
        {
          name: "Amount",
          value: "amount"
        },
        {
          name: "Date",
          value: "date"
        },
        {
          name: "Description",
          value: "description"
        }
      ]
    };
  },
  created() {
    // notesRef.once("value", notes => {
    //   notes.forEach(note => {
    //     this.data.push({
    //       id: note.child("ID").val(),
    //       name: note.child("Name").val(),
    //       amount: parseFloat(note.child("Amount").val()),
    //       date: note.child("Date").val(),
    //       description: note.child("Description").val(),
    //       key: parseInt(note.ref.key)
    //     });
    //     // note.child("Amount").val();
    //   });
    // });
    this.$store.dispatch("getData");
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Poppins", sans-serif;
  color: #2c3e50;
}
</style>
